
.row{
    max-width:1300px;
    padding: 0px;
    padding-top: 10px;
}

.navbar{
    background-color: #061D25;
}

.customDiv{
margin: 0px;
min-height: 300px;
background-color: #e9ecef;
text-align: center;
font-size: large;
font-family: 'comfortaa', cursive;
}

#myimage{
    height: 580px;
    width: 1300px;
    margin: 0px;
}

#col1{
    padding: 0px;
    /* padding-left: 30px; */
}
#col3{
    padding: 0px;
}

#hp1 {
    height: 98%;
    align-content: center;
}

.menu{
    display: inline;
    
}
.foot{
    height: 70px;
    margin-top: 10px;
    background-color: #343a40;
}
.border{
    border-style: inherit;
}
.footer {
    background: #061D25;
    padding: 10px;
    
  }
.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
/*.footer a:first-child {
    border-left: 1px solid #70726F;
  }*/
.footer a:hover {
    color: white;
  }
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

